body {
    padding-top: 60px;
    padding-bottom: 40px;
}
label
{
    margin: 0;
}

.login_wrapper{
    width:467px;
    margin: 20px;
    float: right;
}
.signup_wrapper{
    width:500px;
    margin: 20px;
}
.sign_title{
    background: #6DC32E;
    padding: 10px;
    color: #fefefe;
    text-align: center;
    font-weight: bold;
}
.content{
    font-family: verdana;
    line-height: 36px;
    border: 1px solid #6DC32E;
    padding: 10px 25px;
    border-radius: 0 0 5px 5px;
}
.label1 span
{
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    width: 140px; 
}
.status_wrapper
{
	width:750px;
	margin : 20px auto;
}
#title
{
	width:500px;
}
.select1
{
	width:300px;
	padding:3px;
}
#status
{
	margin-right:250px;
}
.select2
{
	width:100px;
	padding:3px;
	margin-right: 3px;
}
.select3
{
	width:200px;
	padding:3px;
	margin-right: 3px;
}
.label2
{
	display: inline-block;
    font-size: 15px;
    font-weight: normal;
    width: 140px; 
}
.label1
{
	display: inline-block;
    font-size: 16px;
    font-weight: normal;
    width: 140px; 
}
.login_wrapper .label1 span{
    width: 90px;
}
.textbox
{
    width: 275px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #596571;
	line-height:28px;
  	padding:2px;
}
.textbox:focus
{
    border: 1px solid #222E3A;
}
.sign-up
{
    padding: 5px 8px;
    border-radius: 5px;
    width:100px;
    background-image: url('../img/btn-gray.png');
    cursor: pointer; 
    margin-left: 120px;
}
.sign-in
{
    padding: 5px 8px;
    border-radius: 5px;
    width:100px;
    background-image: url('../img/btn-green.png');
    cursor: pointer; 
    margin-left: 120px;
    color: #FEFEFE;
}
.move{
	color:#333333;
	font-size:12px;
  	line-height:18px;
  	padding:3px 9px;	
}

.report_container
{
    border-bottom: 1px solid #687582;
    margin-bottom: 5px;
    padding: 10px;
}
.status_cont{
    margin-left: 33px;
    display: block;
}
.desc_cont
{
    margin-left: 75px;
}
.logout
{
	float:right;
}
#reportGraph
{
	min-height: 400px;
}

/* =============================working for reports ===================*/
.user_content
{
	float: left;
    height: 398px;
    overflow-y: scroll;
    width: 220px;
}
.report_content
{
	border-left: 1px solid #29547F;
    float: right;
    padding: 5px;
    width: 900px;
	
}
.report
{
	padding:6px 2px;
	border-bottom : 1px solid #DCEAF8;
}
.clear{
	clear:both;
}
.suser
{
	background: #B0B0B0;
    border-bottom: 1px solid #FEFEFE;
    padding: 5px;
    width: 100%;
	color : #fefefe;
	font-weight:normal;
}
.suser:hover
{
	color : #888;
}
.suser .user_title
{
	display : inline-block;
	width : 91%;
	cursor : pointer;
	
}.
.report_data
{
	padding : 5px 10px;
	border-bottom : 1px dotted #E2916C;	
}
/*==================Working for Admin part=============================*/

.Admin_wrapper{
	float: right;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.team_wrapper
{
	float: left;
    width: 600px;
}
.team_member
{
	margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.odd
{
	background : #C1D2E7;
}
.even
{
	background :#DAE1E4;
}
