body {
    padding-top: 50px;
    
}
label
{
    margin: 0;
}
.navbar-inverse
{
	background-color: #2a2b21;	
}
.container
{
	width:960px;
	
}

.main-wrapper .container { }

.login_wrapper{
    width:437px;
    margin: 20px 0px;
    float: right;
}
.signup_wrapper{
    width: 462px;
    margin: 20px 0px;
}
.sign_title{
    background-image: url('../img/btn-green.png');
    padding: 10px;
    color: #fefefe;
    text-align: center;
    font-weight: bold;
}
.content{
    font-family: verdana;
    line-height: 36px;
    border: 1px solid #6DC32E;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.label1 span
{
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    width: 140px; 
}
.status_wrapper
{
	width:795px;
	margin : 20px auto;
}
#title
{
	width:500px;
}
.select1
{
	width:300px;
	padding:3px;
}
#status
{
	margin-right:250px;
}
.select2
{
	width:100px;
	padding:3px;
	margin-right: 3px;
}
.select3
{
	width:200px;
	padding:3px;
	margin-right: 3px;
}
.label2
{
	display: inline-block;
    font-size: 15px;
    font-weight: normal;
    width: 140px; 
}
.label1
{
	display: inline-block;
    font-size: 16px;
    font-weight: normal;
    width: 140px; 
}
.login_wrapper .label1 span{
    width: 90px;
}
.textbox
{
    width: 275px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #596571;
	line-height:28px;
  	padding:2px;
}
.textbox:focus
{
    border: 1px solid #222E3A;
}
.sign-up
{
    padding: 5px 8px;
    border-radius: 5px;
    width:100px;
    background-image: url('../img/btn-gray.png');
    cursor: pointer; 
    margin-left: 120px;
}
.sign-in
{
    padding: 5px 8px;
    border-radius: 5px;
    width:100px;
    background-image: url('../img/btn-green.png');
    cursor: pointer; 
    margin-left: 120px;
    color: #FEFEFE;
}
.move{
	color:#333333;
	font-size:12px;
  	line-height:18px;
  	padding:3px 9px;	
}

.report_container
{

    margin-bottom: 5px;
    padding: 10px 1px;;
	width: 960px;
}
.report_filter
{
	background-image: url("../img/btn-green.png");
	border: 1px solid #6DC32E;
	margin : 0 auto;
	width : 706px;
}
.active-filter{
	background-image: url("../img/btn-gray.png") !important;
	color: #333 !important;
}
.report-filter-label
{
	border-right: 1px solid #666666;
    color: #DEDEDE;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 5px;
    text-align: center;
    width: 173px;
	background-image: url("../img/btn-green.png");
}

.report_filter input[type="radio"] 
{
    display: none;
}
.status_cont{
    margin-left: 33px;
    display: block;
}

.logout
{
	float:right;
}
#reportGraph
{
	min-height: 400px;
}

/* =============================working for reports ===================*/
.user_content
{
	float: left;
    height: 398px;
    width: 200px;
	margin-top:40px;
}
.report_content
{
    float: right;
    padding: 5px;
    width: 758px;
	min-height: 600px;
}
.report_content .report_body {
	border-left:1px solid #ddd;
}
.report
{
	padding:6px 2px;
	border-bottom : 1px solid #DCEAF8;
}
.clear{
	clear:both;
}
.suser
{
	background-image: url("../img/btn-gray.png");
    padding: 5px;
    width: 100%;
	color : #6EAE12;
	font-weight:normal;
	border-style:solid;
	border-width:1px;
	border-color:#FEFEFE #ccc #ccc #ccc;
}
.suser:hover
{
	color : #3DAD0D;
}
.suser .user_title
{
	display : inline-block;
	width : 90%;
	cursor : pointer;
	
}
.report_data
{
	padding : 5px 10px;
	border-bottom : 1px dotted #E2916C;	
}
/*==================Working for Admin part=============================*/

.Admin_wrapper{
	float: right;
    margin-top: 20px;
    width: 437px;
}
.team_wrapper
{
	float: left;
    width: 490px;
    margin-top: 20px;
}
.team_member
{
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 700px;
}
.odd
{
	background : #C1D2E7;
}
.even
{
	background :#DAE1E4;
}

.viewBlock {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 0 10px;
    padding: 10px;
}

.dl-horizontal.dl-cust dt {
	width:100px;
}

.dl-horizontal.dl-cust dd {
	margin-left:120px;
}

.dl-horizontal.dl-cust dd.date {
	font-size: 11px;
	font-style: italic;
	font-weight:normal;
	padding-bottom:6px;
	margin:0 0 14px 0;
	border-bottom:1px dashed #eee;
	color:#ccc;
}

.dl-horizontal.dl-style-1 {
	border:1px solid #EEEEEE;
}

.dl-horizontal.dl-style-1 dd.date {
	background: #EEEEEE;
	color:#333;
	text-align:right;
	padding:8px;
}
