<!--<h4>To Do List</h4>
<button id="new-todolist-option" >Add a to-do list</button>
<div class="todolist-new">
    <input type="text" id="todolistname"/>
    <input type="button" id="todolistbtn" value="add To Do list"/>
</div>-->

<div id="todo-list" class="todo-list">
    {{#each todoLists}}
    <div class="todos-container">
        <div class="todolist-container">
            <div class="todolist-action-button">
                <span class="delete-todo" id="delete-{{attributes.todoListId}}">Delete</span>
                <span class="edit-todo" id="edit-{{attributes.todoListId}}">Edit</span>
            </div>
            <span id="todolist-{{attributes.todoListId}}" class="todo-header">{{attributes.listname}} - {{attributes.todoListId}}</span>
        </div>
        <ul id="todos-{{attributes.todoListId}}">
            Loading ....!!
        </ul>
        <div class="todo-new">
            <input type="text" class="tododescription" id="tododescription-{{attributes.todoListId}}"/>
            <label>
                <strong>Assigned to : </strong>
                <select id="assignedTo-{{attributes.todoListId}}" class="select1">
                    <option value="0">Unassigned</option>
                    {{#each users}}
                    <option value="{{attributes.userId}}">{{attributes.firstName}}</option>
                    {{/each}}
                </select>
            </label>
            <label>
                <strong>Due on : </strong>
                <a href="#" id="tododuedate-{{attributes.todoListId}}">No due date</a>
            </label>
            <input type="button" class="todobtn button1" id="todobtn-{{attributes.todoListId}}" value="Add to to"/>
        </div>
    </div>
    {{/each}}
</div>