{{#each todos}}
<li class="todo-content" id="todoli-{{attributes.todoId}}">
    {{#if attributes.active "==" "yes"}}
    <div class="todos-action-button">
        <span class="delete-todo" id="delete-{{attributes.todoListId}}-{{attributes.todoId}}">Delete</span>
        <span class="edit-todo" id="edit-{{attributes.todoListId}}-{{attributes.todoId}}">Edit</span>
    </div>
    <div class="desc-content">
        <input type="checkbox" class="todo-check"id="todo-{{attributes.todoListId}}-{{attributes.todoId}}" />
        <label class="todo-desc" id="todolabel-{{attributes.todoId}}">{{attributes.description}}</label>
    </div>
    {{/if}}
    {{#if attributes.active "==" "no"}}
    <div class="todos-action-button">
        <span class="delete-todo" id="delete-{{attributes.todoListId}}-{{attributes.todoId}}">Delete</span>
    </div>
    <div class="desc-content">
        <input type="checkbox" class="todo-check"id="todo-{{attributes.todoListId}}-{{attributes.todoId}}" />
        <label class="todo-desc" id="todolabel-{{attributes.todoId}}"><strike>{{attributes.description}}</strike></label>
    </div>
    {{/if}}
</li>
{{/each}}
