<h3>Change Password</h3>
<table id="updatePasswordTable">
    <tr>
        <td>Current Password</td>
    </tr>
    <tr>
        <td><input type="password" id="curPassword" class=""/></td>
    </tr>
    <tr>
        <td>New Password</td>
    </tr>
    <tr>
        <td><input type="password" id="newPassword" class=""/></td>
    </tr>
    <tr>
        <td>Confirm Password</td>
    </tr>
    <tr>
        <td><input type="password" id="confPassword" class=""/></td>
    </tr>
    <tr>
        <td><span id="btnUpdatePwd" class="button">Update Password</span></td>
    </tr>
</table>