<h3>User Profile</h3>

<table style="line-height: 26px">
    <tr>
        <td>First Name</td>
        <td><input type="text" id="firstName" value="{{userdata.firstName}}" /></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type="text" id="lastName" value="{{userdata.lastName}}" /></td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input type="text" disabled id="username" value="{{userdata.username}}" /></td>
    </tr>
    <tr>
        <td>Contact Number</td>
        <td><input type="text" id="contactNo" value="{{userdata.contactNo}}" /></td>
    </tr>
    <tr>
        <td>Email- ID</td>
        <td><input type="text" id="email" value="{{userdata.email}}" /></td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <span id="btnUpdateProfile" class="button">Update Profile</span>
        </td>
    </tr>
</table>
